body{
  margin: 0px 40px;
  font-family: 'Courier New', Courier, monospace;
}


.light{
  border: 2px solid black;
  border-radius: 5px;
  color:black;
  background-color: beige;
 
header{
  border-bottom: 2px solid black;
}
 .section{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
 }
.div-element{
  background-color: rgb(252, 252, 215);
}
 
  footer{
      border-top: 2px solid beige;
  }
}

.dark{

  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgb(38, 72, 73);

 header{
  border-bottom: 2px solid white;
  background-color: rgb(38, 72, 73);
 }
 header{
  border-bottom: 2px solid white;
}
 .section{
  border-top: 2px solid white;
  border-bottom: 2px solid white;

 }
.div-element{
  background-color: rgb(38, 72, 73);
  border: 2px solid white;
}
 
.div-container{
  border: 2px solid white;
}
 
  footer{
      border-top: 2px solid rgb(38, 72, 73);
  }
}



header {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
  height: 60px;
  max-width: 100%;
  margin-bottom: 2px;
  /* delete this one */
  /* border-bottom: 2px solid black; */
 h2{
  margin-right: auto;
  padding-left: 20px;
 }

  #btn-nav {
    height: 30px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../images/arrow-light.PNG);
    background-size: cover;
  }
}

footer {
  /* display: flex; */
 
  width: 100%;
  a{
    display: block;
    text-decoration: none;
    padding-left: 100px;
    line-height: 30px;
    font-size: 18px;
    
  }

}

#footer-signature{
  text-align: center;
}
.modeSwitcher {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(../images/mode.png);
  background-size: cover;
}

.section {
  display: flex;
  justify-content: center;
 
  width: 100%;
}

.div-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* height: 90vh; */
  /* justify-content: center; */
  /* flex-direction: ; */
  /* flex-wrap: wrap; */
  padding: 10px 50px;
  align-content: flex-start;
  width: 100%;
  /* background-color: rgb(238, 231, 245); */
}

.div-element {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  
  .blog-title {
    display: flex;
    flex-grow: 1;
    height: 25px;
    margin: 0px;
    border-bottom: 2px solid black;
  }

  .blog-content {
    display: flex;
    padding-left: 30px;
    font-size: 20px;
    /* background-color: green; */
  }

  .blog-author {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 25px;
    /* background-color: yellow; */
  }
}
