/* body styling */
body{
  margin: 0px 40px;
  font-family: 'Courier New', Courier, monospace;
}
/* light mode class styling */
.light{
  border: 2px solid black;
  border-radius: 5px;
  color:black;
  background-color: beige;
header{
  border-bottom: 2px solid black;
}
 .section{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
 }
.div-element{
  background-color: rgb(252, 252, 215);
}
  footer{
      border-top: 2px solid beige;
  }
}
/* dark mode styling */
.dark{
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgb(38, 72, 73);
 header{
  border-bottom: 2px solid white;
  background-color: rgb(38, 72, 73);
 }
 header{
  border-bottom: 2px solid white;
}
 .section{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
 }
.div-element{
  background-color: rgb(38, 72, 73);
  border: 2px solid white;
} 
.div-container{
  border: 2px solid white;
}

  footer{
      border-top: 2px solid rgb(38, 72, 73);
  }
}
/* header styling */
header {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
  height: 60px;
  max-width: 100%;
  margin-bottom: 2px;
  /* title in the header stylign */
 h2{
  margin-right: auto;
  padding-left: 20px;
 }
 /* ling to home bage styling */
  #btn-nav {
    height: 30px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../images/arrow-light.png);
    background-size: cover;
  }
}
/* footer styling */
footer {
  width: 100%;
  a{
    display: block;
    text-decoration: none;
    padding-left: 100px;
    line-height: 30px;
    font-size: 18px;
  }
}
/* footer styling */
#footer-signature{
  text-align: center;
}
/* switch moode buttong styling */
.modeSwitcher {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(../images/mode.png);
  background-size: cover;
}
/* section styling */
.section {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  width: 100%;
}
/* div insided section for the blog */
.div-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px 50px;
  align-content: flex-start;
  width: 100%;
}
/* div inside div in section for the blog with its elements styles*/
.div-element {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  
  .blog-title {
    display: flex;
    flex-grow: 1;
    height: 25px;
    margin: 0px;
    border-bottom: 2px solid black;
  }

  .blog-content {
    display: flex;
    padding-left: 30px;
    font-size: 20px;
  }

  .blog-author {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 25px;
 
  }
}
